@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");

$background-color: #2e236c;
$paragraph-color: #c8acd6;
$font-family: "Edu AU VIC WA NT Hand", cursive;
$padding: 10px;
$text-shadow-x: 5px;
$text-shadow-y: 5px;
$text-shadow-color: #f3feb8;
